# Ignore compiled Python files
*.pyc

# Ignore virtual environment
venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore cache files
__pycache__/

# Ignore package build files
*.egg-info/
dist/
build/
